{% extends "base.html" %}

{% block title %}Cars{% endblock %}

{% block content %}
{% load static %}
<h1>Cars</h1>
{% if cars %}
<p>Cars registered in our service.</p>
{% for car in cars %}
<li><a href="{{ car.id }}">{{car.client}}, {{car.auto_model_id}} </a></li>
<br>
{% endfor %}
{% else %}
<p>No registered cars.</p>
{% endif %}
<hr>
<div class="container">
    <nav>
        {% if cars.has_other_pages %}
            <ul class="pagination pagination-sm justify-content">
                {% for car in cars.paginator.page_range %}
                    {% if cars.number == car %}
                        <li class="page-item active">
                            <a class="page-link">{{ car }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ car }}">{{ car }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}