{% extends "base.html" %}
{% load i18n %}
{% block title %}Welcome{% endblock %}

{% block content %}
<h1>{% trans "Autoservice" %}</h1>
<br>
<p>{% trans "Autoservice statistics:" %}</p>
<ul>
    <li><strong>{% trans "Services: " %}</strong> {{ services }}</li>
    <br>
    <li><strong>{% trans "Orders done: " %}</strong> {{ completed_services }}</li>
    <br>
    <li><strong>{% trans "Cars: " %}</strong> {{ cars }}</li>
</ul>
<br>
<p>{% blocktrans %}Here you visit {{ num_visits }} times.{% endblocktrans %}</p>
{% endblock %}