{% extends "base.html" %}

{% block title %}Order{% endblock %}

{% block content %}
<div>
    <p><strong>Car:</strong> {{ orders.car_id }}</p>
    <p><strong>Total Price:</strong> {{ orders.sum }}</p>
    <p><strong>Status:</strong> {{ orders.get_status_display }}</p>
    <br>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Services:</h4>
    {% for line in orders.order_line.all %}
    <hr>
    <p><strong>{{ line.service.name }} </strong></p>
    <p><strong>Quantitys:</strong> {{ line.quantity }}
    <p><strong>Price:</strong> {{ line.service.price }} </p>
    <p><strong>Sum:</strong> {{ line.sum }}</p>
    {% endfor %}
</div>


{% endblock %}