{% extends "base.html" %}
{% load i18n %}

{% block title %}Delete Order Line{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h4>{% trans "Delete Order Line" %}</h4>
            <hr>
            <h5>{% trans "Are you sure you want to delete the order? " %}</h5>
            <br>
            <p>{{ orderingline }}</p>
            <br>
            <button class="btn btn-outline-danger" type="submit">{% trans "Yes, delete" %}</button>
            <a class="btn btn-outline-success" href="{% url 'my_order' orderingline.order_id.id %}">{% trans "Cancel" %}</a>
        </div>
    </form>
    </div>
{% endblock content %}