{% extends "base.html" %}

{% block title %}Order{% endblock %}

{% block content %}
<div>
    <h6 style="margin-bottom: 15px"> {{ orders.car_id }}</h6>
    <div class="btn-group btn-group-sm">
        <a href="{% url 'car' orders.car_id.id %}" class="btn btn-outline-warning me-2">Car Details</a>
    </div>
    <p style="margin-top: 15px"><strong>Total Price:</strong> {{ orders.sum }}</p>
    <p><strong>Status:</strong> {{ orders.get_status_display }}</p>
    <br>
</div>

<div style="margin-left:20px;margin-top:20px">
    <h4>Services:</h4>
    {% for line in orders.order_line.all %}
    <hr>
    <p><strong>{{ line.service.name }} </strong></p>
    <p><strong>Price:</strong> {{ line.service.price }} </p>
    <p><strong>Quantitys:</strong> {{ line.quantity }} <strong>Sum:</strong> {{ line.sum }}</p>
    {% endfor %}
    <hr>
</div>
<br>
{% if user.is_authenticated %}
<div class="fieldWrapper">
<h4 style="margin-bottom:15px">Leave review:</h4>
<form action="" method="post">
  {% csrf_token %}
  {{ form.content }}<br>
<div class="form-group" style="margin-top:15px">
    <input type="submit" class="btn btn-outline-warning" value="Send" />
</div>
</form>
</div>
{% endif %}
<br>
<h4>Reviews:</h4>
{% if orders.reviews.all %}
{% for review in orders.reviews.all %}
<hr>
<strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created}}</em>
<p>{{ review.content }}</p>
{% endfor %}
{% else %}
<p>The order has no reviews</p>
{% endif %}
{% endblock %}