{% extends "base.html" %}

{% block title %}My orders{% endblock %}

{% block content %}
<h3>My orders</h3>
<br>
{% if orders %}
{% for order in orders %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">Order date: {{ order.order_date|date:"Y-m-d, f" }}</small>
        </div>
        <div class="article-metadata">
            <small class="{% if order.is_overdue %}text-danger{% endif %}">Return date: {{order.return_time|date:"Y-m-d, f" }}</small>
        </div>
        <p class="article-content">{{ order.car_id}}</p>
        <div class="btn-group btn-group-sm">
            <a href="{% url 'order_datails' order.id %}" class="btn btn-outline-warning me-2">Details</a>
        </div>
    </div>
</article>
<hr>
{% endfor %}
{% else %}
<p>You have no orders.</p>
{% endif %}
{% endblock %}