{% extends "base.html" %}
{% load i18n %}

{% block title %}Order Details{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div>
    <h6 style="margin-bottom: 15px"> {{ orders.car_id }}</h6>
    <div class="btn-group btn-group-sm">
        <a href="{% url 'car' orders.car_id.id %}" class="btn btn-outline-warning me-2">{% trans "Car Details" %}</a>
    </div>
    <div class="btn-group btn-group-sm">
        <a href="{% url 'my_order_line_create' orders.id %}" class="btn btn-outline-success me-2">{% trans "New" %}</a>
    </div>
    <div class="btn-group btn-group-sm">
        <a href="{% url 'my_order_delete' orders.id %}" class="btn btn-outline-danger me-2">{% trans "Delete" %}</a>
    </div>
    <p style="margin-top: 15px"><strong>{% trans "Total Price: " %}</strong> {{ orders.sum }}</p>
    <p><strong>{% trans "Status: " %}</strong> {{ orders.get_status_display }}</p>
    <br>
</div>

<div style="margin-left:20px;margin-top:20px">
    <h4>{% trans "Services:" %}</h4>
    {% for line in orders.order_line.all %}
    <hr>
    <p><strong>{{ line.service.name }} </strong></p>
    <p><strong>{% trans "Price: " %}</strong> {{ line.service.price }} </p>
    <p><strong>{% trans "Quantities: " %}</strong> {{ line.quantity }} <strong>{% trans "Sum: " %}</strong> {{ line.sum }}</p>
    <div class="btn-group btn-group-sm">
        <a href="{% url 'my_order_line_update' line.id %}" class="btn btn-outline-success me-3">{% trans "Update" %}</a>
        <a href="{% url 'my_order_line_delete' line.id %}" class="btn btn-outline-danger me-3">{% trans "Delete" %}</a>
    </div>
    {% endfor %}
    <hr>
</div>

{% endblock %}